Local .terraform folder containing binaries and providers

.terraform/
.terraform.lock.hcl

Local state files (can contain secrets!)

*.tfstate
*.tfstate.backup
*.tfstate.lock.info

Sensitive variables

*.tfvars
*.tfvars.json
override.tf
override.tf.json

Crash logs

crash.log